<table>
	<tr>
		<td><h1>Shift</h1></td>
		<td>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Shift Id :<%=@shift_id%></td>
	</tr>
</table><br>
Rooms completed during this shift : <%=@room_cleaned.size%><br>
Rooms yet to clean : <%=@work.size%><br>
No of staffs working :<%=@shift.size%><br>
